@import 'libs/shared/styles/src/lib/styles/themes/flatly';
@import 'libs/shared/styles/src/lib/styles/global';

// Platform badges
.badge-naukri {
  background-color: #ff7555;
  color: #fff;
}

.badge-linkedin {
  background-color: #0a66c2;
  color: #fff;
}

.badge-indeed {
  background-color: #2164f3;
  color: #fff;
}
